version: '3.8'

services:
  nginx:
    image: nginx:latest
    ports:
      - "8090:8090"
    volumes:
      - ./nginx.conf.template:/etc/nginx/conf.d/default.conf.template:ro
    environment:
      - NGINX_LISTEN_PORT=8090
      - GRPC_BACKEND=host.docker.internal:8080
    entrypoint: /bin/bash -c "envsubst '$$NGINX_LISTEN_PORT,$$GRPC_BACKEND' < /etc/nginx/conf.d/default.conf.template > /etc/nginx/conf.d/default.conf && nginx -g 'daemon off;'"
    restart: unless-stopped
